<body href="cinepolis.component.css">

<div>
    <hr>
    <h2>ENTRADAS</h2>
    Nombre: <input type="text" [(ngModel)]="nombre" name="nombre"><br>
    Cantidad Compradores: <input type="text" [(ngModel)]="comprador" name="comprador"><br>
    Tarjeta Cinepolis: 
    <input type="radio" value="si" name="tarjeta" [(ngModel)]="tarjSi">Si
    <input type="radio" value="no" name="tarjeta" [(ngModel)]="tarjNo">No<br>

    Cantidad Boletos: <input type="text" [(ngModel)]="boletos" name="boletos"><br>

    <button type="button" (click)="procesar()">Procesar</button>

    <h1>Comprador Principal: {{nombre}}</h1>
    <h2>Boletos Comprados: {{boletos}}</h2>
    <h2>Total: {{total}}</h2>
    <h2>{{error}}</h2>
    <hr>
    <br>
    <hr>
    <h2>SALIDAS</h2>
    <input type="text" name="" id="">Valor a pagar
    <hr>
    <br>
    <hr>
    <h2>ACCIONES</h2>
        <button>Procesar</button>
        <button>Salir</button>
    <hr>
</div>
</body>